 <script>
 $(document).ready(function() {
     $("select").click(function() {
         myparent = $(this).closest(".charity_selector");
         id = $("option:selected", this).val();
         str = "#charity-" + id + "-" + myparent.attr('id');
         $(".charity_info", myparent).hide();
         $(str, myparent).show();
     });
     $("select").click();
 });
 </script>


            <div class="row">
            <div class=form-header>Name of Game</div>
            <div class='field-form-group'><%= text_field :game, :title, id: 'Title', size: '65' %></div>

            <div class='field-form-group'>
              <%= radio_button(:game, :is_private, true, :id=>"private_game", checked: @game.is_private) %>
              <%= label_tag(:private, "Private game") %>
              <small>Your game will be unlisted and only accessible through a link.</small>
              <br>
              <%= radio_button(:game, :is_private, false, :id=>"public_game", checked: !@game.is_private) %>
              <%= label_tag(:public, "Public game") %>
              <small>Your game will be listed publicly and can be played by anyone.</small>
              
            </div>
            <div class=form-header>Description</div>
            <div class='field-form-group'><%= text_area :game, :description, id: 'Description', rows: "7", cols: "100"%></div>
            </div>
            <div class="row">
                <div class="col-sm-6 charity_selector" id="A">
                <div class=form-header>Charity A</div>
                <div class='field-form-group'><%= collection_select(:game, :charity_a_id, @defaultCharities, :id, :name, { :selected => @game.charity_a_id })%></div>

                <% @defaultCharities.each do |charity| %>
                <center>
                <div class="charity_info" id="charity-<%= charity.id %>-A" style="display: none;">
                    <% if charity.image_link == nil || charity.image_link == "" %>
                        <%= image_tag asset_path("default-image1.png"), :style => "display: block; width: 50%;" %>
                    <% else %>
                        <%= image_tag charity.image_link, :style => "display: block; width: 50%;" %>
                    <% end %>
                    <%= charity.description %>
                </div>
                </center>
                <% end %>
                </div>
                <div class="col-sm-6 charity_selector" id="B">
                <div class=form-header>Charity B</div>
                    <div class='field-form-group'><%= collection_select(:game, :charity_b_id, @defaultCharities, :id, :name, { :selected => @game.charity_b_id })%></div>
                <% @defaultCharities.each do |charity| %>
                <center>
                <div class="charity_info" id="charity-<%= charity.id %>-B" style="display: none;">
                    <% if charity.image_link == nil || charity.image_link == "" %>
                        <%= image_tag asset_path("default-image1.png"), :style => "display: block; width: 50%;" %>
                    <% else %>
                        <%= image_tag charity.image_link, :style => "display: block; width: 50%;" %>
                    <% end %>
                    <%= charity.description %>
                </div>
                </center>
                <% end %>
                </div>
            </div>
            
            <div class="row">
                <div class="text-center">
                <div class=form-header id="goal">Goal Amount of Money to Reach</div>
                <div class='field-form-group'><%= text_field :game, :total_money, id: 'TotalMoney' %></div>
                </div>
                
                <div class="text-center">
                <div class=form-header id="per_person">Per Person Amount</div>
                <div class='field-form-group'><%= text_field :game, :per_transaction, id: 'AmountPerVote' %></div>
                </div>
            </div>
            
            <div class="row">
                <div class=form-header>Expiration Date</div>
                <div class='field-form-group'>
                  <%= text_field :game, :expiration_time, "data-provide" => 'datepicker' %>
                </div>
            </div>
            
            <div class="row">
                <div class=form-header>Tutorial</div>
                <div class='field-form-group'><%= check_box :game, :tutorial, {}, true, false %></div>
            </div>

            <div class="row">
                <div class=form-header>Hide Results Page</div>
                <div class='field-form-group'><%= check_box :game, :show_results, {}, false, true %></div>
            </div>