<div class="container">
    <div class="row">
        <div class="page-header">
            <% if !@game.tutorial %>
                <div class="pull-right">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Expiration Date: <%= @expiration_time %>
                        </div>
                    </div>
                </div>
            <% end %>
            <h1><small>Play the game:</small> <small class="game-name-header"><%=@game.title %></small></h1>
        </div>
    </div>
    <div class="row top-buffer" style="text-align: center;">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><%= @game.description %></h4>
            </div>
        </div>
    </div>
    
    <div class="row" style="text-align: center; padding-bottom: 20px">
        <div class="col-sm-6">
            <div>
                <div>
                    <div style="display: flex; align-items: flex-end; justify-content: center; height: 300px; width: 100%; padding-bottom: 20px; padding-top: 20px">
                        <% if @charityA.image_link == nil || @charityA.image_link == "" %>
                            <%= image_tag asset_path("default-image1.png"), :style => "max-height: 100%; max-width: 100%" %>
                        <% else %>
                            <%= image_tag @charityA.image_link, :style => "max-height: 100%; max-width: 100%" %>
                        <% end %>
                    </div>
                    
                    <div class="row" style="margin-bottom: 30px; margin-top: 30px;">
                         <div class="col-sm-8 col-sm-offset-2">
                             <span><%= link_to @charityA.name + ' Homepage', @charityA.homepage_link%></span>
                         </div>
                    </div>    
                    
                    <%= @charityA.description %>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div>
                <div>
                    <div style="display: flex; align-items: flex-end; justify-content: center; height: 300px; width: 100%; padding-bottom: 20px; padding-top: 20px">
                        <% if @charityB.image_link == nil || @charityB.image_link == "" %>
                            <%= image_tag asset_path("default-image2.png"),  :style => "max-height: 100%; max-width: 100%" %>
                        <% else %>
                            <%= image_tag @charityB.image_link, :style => "max-height: 100%; max-width: 100%" %>
                        <% end %>
                    </div>
                    
                    <div class="row" style="margin-bottom: 30px; margin-top: 30px;">
                         <div class="col-sm-8 col-sm-offset-2">
                             <span><%= link_to @charityB.name + ' Homepage', @charityB.homepage_link%></span>
                         </div>
                    </div>                    
                    
                    <%= @charityB.description %>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: center">
        <div class="col-sm-6">
            <%= button_to "Donate to #{@charityA.name}", check_played_path(:id =>@game.id, :charity => @charityA, :show_results => @game.show_results), :class => "btn btn-primary btn-lg" %>
        </div>
        <div class="col-sm-6" style="text-align: center">
            <%= button_to "Donate to #{@charityB.name}", check_played_path(:id =>@game.id, :charity => @charityB, :show_results => @game.show_results), :class => "btn btn-primary btn-lg" %>
        </div>
    </div>