<div class="row">
    <div class=form-header>Name of Charity</div>
    <div class='field-form-group'><%= text_field :charity, :name, id: 'Title', size: '65' %>
</div>

<div class="row">
    <div class=form-header>Description</div>
    <div class='field-form-group'><%= text_area :charity, :description, id: 'Description', rows: "7", cols: "100"%></div>
</div>
<div class="row">
    <div class=form-header>Ein</div>
    <div class='field-form-group'><%= text_field :charity, :ein, id: 'ein', size: '35' %></div>
</div>
<div class="row">
    <div class=form-header>Image URL</div>
    <div class='field-form-group'><%= text_field :charity, :image_link, id: 'image_link', size: '350' %></div>
</div>
    
<!--Add something to show the image here -->
<div class="row">
    <div class=form-header>Charity Home Page URL</div>
    <div class='field-form-group'><%= text_field :charity, :homepage_link, id: 'homepage_link', size: '350' %></div>
</div>
<div class="row">
    <div class=form-header>Charity Donation Page URL</div>
    <div class='field-form-group'><%= text_field :charity, :donation_link, id: 'donation_link', size: '350' %></div>
</div>

